/* App.css */
.pirate-details {
  display: flex;
  justify-content: space-between;
}

.pirate-details img  {
  margin: 20px;
  width: 200px;
  align-items: center;

}

.pirate-details h1 {
  text-align: center;
}

.pirate-about {
  background-color: white;
  padding: 10px;
  width: 50%;
  margin: 20px;
  text-align: center;
  border: 4px solid black;
}
/* App.css */
.container {
  justify-content: space-around;

 background-color: orange;
}

.user-form {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 30%;
  margin-right: 30%;
}

.form-group {
  margin-bottom: 20px;
  margin-left: 50px;
}

/* App.css */
.nav {
  background-color: brown;
  border-bottom: 4px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  
  
}

.pirate-box {
  background-color: white;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pirate-box h2 {
  margin-top: 0;
}

.pirate-box img {
  margin: 10px 0;
}

.pirate-box button, .pirate-box a {
  margin-right: 10px;
}
/* App.css */
body {
 
  background-color: white;
  border: 4px solid black;
}

/* App.css */
button, .nav a {
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px black;
  text-decoration: none; /* This is to remove the underline from the anchor tags styled as buttons */
  transition: transform 0.2s; /* Smooth transition for the hover effect */
}

button:hover, .nav a:hover {
  transform: translateY(-2px); /* Slight upward movement on hover */
  box-shadow: 4px 4px 5px black; /* Increase shadow depth on hover */
}

.pirate-box {
 background-color: white; 
 margin-left: 80px;
 margin-right: 80px;
}

.pirate-list {
  background-color: orange;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav h1 {
  margin-left: 550px;
}

